<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="d-none d-sm-none d-md-block">Model</th>
      <th scope="col">OS</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices; index as i">
      <th scope="row">{{ i + 1}}</th>
      <td>{{ device.name }}</td>
      <td class="d-none d-sm-none d-md-block">{{ device.model }}</td>
      <td><mat-icon svgIcon="{{device.os}}"></mat-icon></td>
      <td>
        <div class="btn-group d-sm-block d-md-none d-lg-none float-right" role="group" aria-label="...">
          <button type="button" class="btn btn-warning" (click)="edit(device, device.key)" data-toggle="collapse" 
              data-target="#form-device" [disabled]="disableButtons">
              E
          </button>
          <button type="button" class="btn btn-danger" (click)="delete(device.key)" [disabled]="disableButtons">
            D
          </button>
        </div>
        <div class="btn-group d-none d-sm-none d-md-block d-lg-block float-right" role="group" aria-label="...">
          <button type="button" class="btn btn-warning" (click)="edit(device, device.key)" data-toggle="collapse" 
              data-target="#form-device" [disabled]="disableButtons">Edit</button>
          <button type="button" class="btn btn-danger" (click)="delete(device.key)" [disabled]="disableButtons">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>