<form (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="device.name" name="name"
          required minlength="4" #name="ngModel" [ngModelOptions]="{updateOn: 'blur'}" deviceNameAlreadyTaken>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Name is required.</div>
        <div *ngIf="name.errors.minlength">Name must be at least 4 characters long.</div>
        <div *ngIf="name.errors.uniqueName">Name already taken.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="typehead-http-brand" class="col-sm-2 control-label">Brand</label>
    <div class="col-sm-10">
      <input type="text" id="typehead-http-brand" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="device.brand"
          required #brand="ngModel" [ngbTypeahead]="searchBrand" placeholder="Brand search" name="brand">
      <span *ngIf="searching">Searching...</span>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded...</div>
      <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="alert alert-danger">
        <div *ngIf="brand.errors.required">Brand is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="typehead-http-model" class="col-sm-2 control-label">Model</label>
    <div class="col-sm-10">
      <input type="text" id="typehead-http-model" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="device.model"
          required #model="ngModel" [ngbTypeahead]="searchModel" placeholder="Model search" name="model">
      <span *ngIf="modelSearching">Searching...</span>
      <div class="invalid-feedback" *ngIf="modelSearchFailed">Sorry, suggestions could not be loaded...</div>
      <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert alert-danger">
        <div *ngIf="model.errors.required">Model is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputModel" class="col-sm-2 control-label">Operating System</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="device.os" name="os">
          <option *ngFor="let os of operatingSystems" [ngValue]="os.value">{{os.valueView}}</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" data-toggle="collapse" data-target="#form-device" class="btn btn-primary">Save</button>
      <button type="button" data-toggle="collapse" data-target="#form-device" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>