<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Device</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations; index as i">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ reservation.deviceId }}</td>
        <td>{{ reservation.startDate | date:'mediumDate' }}</td>
        <td>{{ reservation.endDate | date:'mediumDate' }}</td>
        <td>
          <div class="btn-group d-sm-block d-md-none d-lg-none float-right" role="group" aria-label="...">
            <button type="button" class="btn btn-warning" (click)="edit(reservation, reservation.deviceId)" data-toggle="collapse" 
                data-target="#form-reservation" [disabled]="disableButtons">
                E
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(reservation.deviceId)" [disabled]="disableButtons">
              D
            </button>
          </div>
          <div class="btn-group d-none d-sm-none d-md-block d-lg-block float-right" role="group" aria-label="...">
            <button type="button" class="btn btn-warning" (click)="edit(reservation, reservation.deviceId)" data-toggle="collapse" 
                data-target="#form-reservation" [disabled]="disableButtons">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(reservation.deviceId)" [disabled]="disableButtons">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>