<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left">Device List</h3>
    <button class="btn btn-success pull-right" data-toggle="collapse" data-target="#form-device" id="btnNew" [(disabled)]="disableButtons">New</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div id="form-device" class="collapse" (domChange)="onDomChange($event)">
      <device-edit></device-edit>
    </div>
    <device-list [(disableButtons)]="disableButtons"></device-list>
  </div>
</div>
