<div class="card">
  <div class="card-header">
    <h3 class="card-title float-left">Device List</h3>
    <button class="btn btn-success float-right" data-toggle="collapse" data-target="#form-device" id="btnNew" 
        [(disabled)]="disableButtons" (click)="newDevice()">New</button>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <div id="form-device" class="collapse" (domChange)="onDomChange($event)">
      <device-edit></device-edit>
    </div>
    <device-list [(disableButtons)]="disableButtons"></device-list>
  </div>
</div>
